/*
	Este es el archivo de estilos para mi formulario
*/
#logo,#menu {
	position: absolute;
	z-index: 3;
}
#menu {
	margin-left: 25%;
	margin-top: 25px;
}
li {
	background: rgba(19,19,19,1);
background: -webkit-linear-gradient(rgba(19,19,19,1) 0%, rgba(28,28,28,1) 25%, rgba(17,17,17,1) 40%, rgba(71,71,71,1) 48%, rgba(76,76,76,1) 52%, rgba(0,0,0,1) 55%, rgba(4,4,4,1) 56%, rgba(43,43,43,1) 67%, rgba(44,44,44,1) 68%, rgba(89,89,89,1) 100%);
background: -o-linear-gradient(rgba(19,19,19,1) 0%, rgba(28,28,28,1) 25%, rgba(17,17,17,1) 40%, rgba(71,71,71,1) 48%, rgba(76,76,76,1) 52%, rgba(0,0,0,1) 55%, rgba(4,4,4,1) 56%, rgba(43,43,43,1) 67%, rgba(44,44,44,1) 68%, rgba(89,89,89,1) 100%);
background: linear-gradient(rgba(19,19,19,1) 0%, rgba(28,28,28,1) 25%, rgba(17,17,17,1) 40%, rgba(71,71,71,1) 48%, rgba(76,76,76,1) 52%, rgba(0,0,0,1) 55%, rgba(4,4,4,1) 56%, rgba(43,43,43,1) 67%, rgba(44,44,44,1) 68%, rgba(89,89,89,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#595959', GradientType=0 );
	float: left;
	list-style: none;
	width: 145px;
	padding: 10px 0px;
	text-align: center;
}
li:hover,li.active {
	background: rgba(19,19,19,1);
background: -moz-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 25%, rgba(17,17,17,1) 40%, rgba(71,71,71,1) 48%, rgba(76,76,76,1) 52%, rgba(0,0,0,1) 55%, rgba(4,4,4,1) 56%, rgba(43,43,43,1) 67%, rgba(44,44,44,1) 68%, rgba(89,89,89,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(19,19,19,1)), color-stop(25%, rgba(28,28,28,1)), color-stop(40%, rgba(17,17,17,1)), color-stop(48%, rgba(71,71,71,1)), color-stop(52%, rgba(76,76,76,1)), color-stop(55%, rgba(0,0,0,1)), color-stop(56%, rgba(4,4,4,1)), color-stop(67%, rgba(43,43,43,1)), color-stop(68%, rgba(44,44,44,1)), color-stop(100%, rgba(89,89,89,1)));
background: -webkit-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 25%, rgba(17,17,17,1) 40%, rgba(71,71,71,1) 48%, rgba(76,76,76,1) 52%, rgba(0,0,0,1) 55%, rgba(4,4,4,1) 56%, rgba(43,43,43,1) 67%, rgba(44,44,44,1) 68%, rgba(89,89,89,1) 100%);
background: -o-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 25%, rgba(17,17,17,1) 40%, rgba(71,71,71,1) 48%, rgba(76,76,76,1) 52%, rgba(0,0,0,1) 55%, rgba(4,4,4,1) 56%, rgba(43,43,43,1) 67%, rgba(44,44,44,1) 68%, rgba(89,89,89,1) 100%);
background: -ms-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 25%, rgba(17,17,17,1) 40%, rgba(71,71,71,1) 48%, rgba(76,76,76,1) 52%, rgba(0,0,0,1) 55%, rgba(4,4,4,1) 56%, rgba(43,43,43,1) 67%, rgba(44,44,44,1) 68%, rgba(89,89,89,1) 100%);
background: linear-gradient(to right, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 25%, rgba(17,17,17,1) 40%, rgba(71,71,71,1) 48%, rgba(76,76,76,1) 52%, rgba(0,0,0,1) 55%, rgba(4,4,4,1) 56%, rgba(43,43,43,1) 67%, rgba(44,44,44,1) 68%, rgba(89,89,89,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#595959', GradientType=1 );
}
a,a:hover {
	color: #ffffff;
	padding: 10px 4px;
}
.borde-inicio {
	border-radius: 10px 0px 0px 10px;
}
.borde-final {
	border-radius: 0px 10px 10px 0px;
}
.menu-elemento {
	border-right: solid 1px #ffffff;
}
#destacados img {
  width: 100px;
}
/**
* Propiedades Importantes
* width: 100px; //ancho de un elemento
* height: 100px; //alto de un elemento
* float:left; //coloca elementos a la derecha
* margin-left:; //margen izquierdo
* margin-right:; //margen derecho
* margin-top:; //margen arriba
* margin-bottom:; //margen abajo
* margin:10px 10px 10px 10px; //margen a todos lados
* padding // es igual a la propiedad margin solo que es espacio interno
* border: [tipo de borde] [tamaño de borde] [color];
* border-left/border/right/border-top/border-bottom:;
* color:; //color a un elemento
* background:; //fondo este puede ser un color, imagen, video, etc.
* border-radius: ; //bordes redondeados
* list-style:none; //para borrar estilos de una lista
* elemento:hover/:focus/.active/.visited; //para efectos al acercar/presionar/ingresar a un elemento

*/